<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
<title>Organ Donation</title>    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Favicon icon -->
      <link rel="icon" href="https://www.sakraworldhospital.com/spl_splimgs/organ%20donation-2020-1.jpg" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap/css/bootstrap.min.css' %}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/icon/themify-icons/themify-icons.css' %}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/icon/icofont/css/icofont.css' %}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/jquery.mCustomScrollbar.css' %}">
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  </head>

  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        {% if messages %}              
				{% for message in messages %}
				   {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
							 <script>swal({
							   title: "Warning!",
							   text: "{{message}}",
							   icon: "warning",
							   button: "OK",
							 });
						   </script>
						
						 {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
							 <script>swal({
							   title: "Info :)",
							   text: "{{message}}",
							   icon: "info",
							   button: "OK",
							 });
				   </script>
				   {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				   <script>swal({
					 title: "Error :)",
					 text: "{{message}}",
					 icon: "error",
					 button: "OK",
				   });
				   </script>
				   {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
				   <script>swal({
				   title: "Success :)",
				   text: "{{message}}",
				   icon: "success",
				   button: "OK",
				   });
				   </script>
						 {% endif %}              
					   {% endfor %} 
				   {% endif %}
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="index.html">
                            <h3 style="color: rgb(205, 255, 243); margin-right:40px;" ><b><i>ORGAN DONATION</i></b></h3>
                        </a>
                        
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Image.png" class="img-radius" alt="User-Profile-Image">
                                    <span>Admin</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a href="{% url 'main_hospital' %}">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40 img-radius" src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Image.png" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>Admin</span>
                                        <span id="more-details"><i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="{% url 'main_home' %}"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pcoded-search">
                                <span class="searchbar-toggle">  </span>
                                <div class="pcoded-search-box ">
                                    <input type="text" placeholder="Search">
                                    <span class="search-icon"><i class="ti-search" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            
                            <ul class="pcoded-item pcoded-left-item mt-5">
                                <li class="active">
                                    <a href="{% url 'hospital_dasboard' %}">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Donor Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'hospital_registereddonors' %}">
                                                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Registered Donors</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="{% url 'hospital_availabledonor' %}">
                                                <span class="pcoded-micon"><i class="ti-search"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Available Donors</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-search"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Search </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'hospital_searchbyorgan' %}">
                                                <span class="pcoded-micon"><i class="ti-search"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Search by Organ</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                 
                                        <li class=" ">
                                            <a href="{% url 'hospital_searchbylocation' %}">
                                                <span class="pcoded-micon"><i class="ti-search"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Search by Location</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <center>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">

                                </div>
                                <div class="col-sm-12 col-lg-6">

                                    <div class="form-group ">
                                    <form action="" method="post">
                                            {% csrf_token %}
                                        <div class="mt-4  mx-5">
                                            <input type="text"
                                            class="form-control form-control-success "
                                            name = "organ"
                                            placeholder="search" >
                                            <button class="btn btn-grd-success mt-3" type="submit" style="height: 40px;">Search</button>
                                            
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </center>
                    <center>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">

                                </div>
                                <div class="col-lg-6">
                                <textarea id="story" class="form-control form-control-success " name="story"
                                    rows="" cols="4">
                                    {{organ.Donate_Organ}}
                                </textarea>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
                </div>
            </div>
        </div>

        
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'admin/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'admin/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'admin/js/modernizr/modernizr.js' %}"></script>
<!-- am chart -->
<script src="{% static 'admin/pages/widget/amchart/amcharts.min.js' %}"></script>
<script src="{% static 'admin/pages/widget/amchart/serial.min.js' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'admin/pages/todo/todo.js' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'admin/pages/dashboard/custom-dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/script.js' %}"></script>
<script type="text/javascript " src="{% static 'admin/js/SmoothScroll.js' %}"></script>
<script src="{% static 'admin/js/pcoded.min.js' %}"></script>
<script src="{% static 'admin/js/demo-12.js' %}"></script>
<script src="{% static 'admin/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>
</body>

</html>
