<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
<title>Organ Donation</title>    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Favicon icon -->
      <link rel="icon" href="https://www.sakraworldhospital.com/spl_splimgs/organ%20donation-2020-1.jpg" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap/css/bootstrap.min.css' %}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/icon/themify-icons/themify-icons.css' %}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/icon/icofont/css/icofont.css' %}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/jquery.mCustomScrollbar.css' %}">
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

  </head>
<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #f093fb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
        }
        
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
        }
        .card-registration .select-arrow {
        top: 13px;
        }
</style>
  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        {% if messages %}              
				{% for message in messages %}
				   {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
							 <script>swal({
							   title: "Warning!",
							   text: "{{message}}",
							   icon: "warning",
							   button: "OK",
							 });
						   </script>
						
						 {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
							 <script>swal({
							   title: "Info :)",
							   text: "{{message}}",
							   icon: "info",
							   button: "OK",
							 });
				   </script>
				   {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				   <script>swal({
					 title: "Error :)",
					 text: "{{message}}",
					 icon: "error",
					 button: "OK",
				   });
				   </script>
				   {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
				   <script>swal({
				   title: "Success :)",
				   text: "{{message}}",
				   icon: "success",
				   button: "OK",
				   });
				   </script>
						 {% endif %}              
					   {% endfor %} 
				   {% endif %}
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="index.html">
                            <h3 style="color: rgb(205, 255, 243); margin-right:40px;" ><b><i>ORGAN DONATION</i></b></h3>
                        </a>
                        
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Image.png" class="img-radius" alt="User-Profile-Image">
                                    <span>Admin</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a href="{% url 'main_hospital' %}">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40 img-radius" src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Image.png" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>Admin</span>
                                        <span id="more-details"><i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="{% url 'main_home' %}"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pcoded-search">
                                <span class="searchbar-toggle">  </span>
                                <div class="pcoded-search-box ">
                                    <input type="text" placeholder="Search">
                                    <span class="search-icon"><i class="ti-search" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            
                            <ul class="pcoded-item pcoded-left-item mt-5">
                                <li class="active">
                                    <a href="{% url 'hospital_dasboard' %}">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Donor Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'hospital_registereddonors' %}">
                                                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Registered Donors</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="{% url 'hospital_availabledonor' %}">
                                                <span class="pcoded-micon"><i class="ti-search"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Available Donors</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-search"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Search </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'hospital_searchbyorgan' %}">
                                                <span class="pcoded-micon"><i class="ti-search"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Search by Organ</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                  
                                        <li class=" ">
                                            <a href="{% url 'hospital_searchbylocation' %}">
                                                <span class="pcoded-micon"><i class="ti-search"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Search by Location</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    
                                </div>
                                <!-- Page-header end -->
                                
                                <!-- Page-body start -->
                                <div class="page-body">
                                    <!-- Basic table card start -->
                                    
                                    <!-- Basic table card end -->
                                    <!-- Inverse table card start -->
                                    <section class=" gradient-custom">
                                        <div class="container py-5 ">
                                          <div class="row justify-content-center align-items-center ">
                                            <div class="col-12 col-lg-9 col-xl-10">
                                              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                                                <div class="card-body p-4 p-md-5">
                                                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registrated View</h3>
                                                  <form method="post" name="myform" enctype="multipart/form-data" action="" onsubmit=""  >
                                                    {% csrf_token %}
                                      
                                                    <div class="row">
                                                      <div class="col-md-6 mb-4">
                                      
                                                        <div class="form-outline">
                                                          <input type="text" id="firstName" value="{{view.Name}}" name="name" class="form-control form-control-lg" readonly/>
                                                          <label class="form-label" for="firstName">Name</label>
                                                        </div>
                                      
                                                      </div>
                                                      <div class="col-md-6 mb-4">
                                      
                                                        <div class="form-outline">
                                                          <input type="text" id="lastName" value="{{view.Gender}}" name="gender" class="form-control form-control-lg" readonly/>
                                                          <label class="form-label" for="lastName">Gender:</label>
                                                        </div>
                                      
                                                      </div>
                                                    </div>
                                      
                                                    <div class="row">
                                                      <div class="col-md-6 mb-4 ">
                                      
                                                        <div class="form-outline datepicker w-100">
                                                          <input type="text" class="form-control form-control-lg" name="dob" value="{{view.Date_Of_Birth}}" id="birthdayDate" readonly/>
                                                          <label for="birthdayDate" class="form-label">Date Of Birth</label>
                                                        </div>
                                      
                                                      </div>
                                                      <div class="col-md-6 mb-4">
                                                        
                                      
                                                        <div class="form-outline datepicker w-100">
                                                            <input type="text" class="form-control form-control-lg" name="donateorgan" value="{{view.Donate_Organ}}" id="birthdayDate" readonly/>
                                                            <label for="birthdayDate" class="form-label">Donate Organ</label>
                                                        </div>
                                                        
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-md-6 mb-4 pb-2">
                                                        <div class="form-outline">
                                                          <input type="text" id="emailAddress" name="disease" class="form-control form-control-lg" value="{{view.Disease}}" readonly/>
                                                          <label class="form-label" for="emailAddress">Self Disease</label>
                                                        </div>
                                                      </div>
                                                      <div class="col-md-6 mb-4 pb-2">
                                                        <div class="form-outline">
                                                          <input type="text" id="phoneNumber" name="email" class="form-control form-control-lg" value="{{view.Email}}" readonly/>
                                                          <label class="form-label" for="phoneNumber">Email Address</label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-12">
                                                        <select class="select form-control-lg" name="test" style="height:65px;">
                                                          <option value="1" disabled>Choose Status</option>
                                                          <option >Under Test </a></option>
                                                          <option >Fit </a></option>
                                                          <option >Un Fit </a></option>
                                                        </select>
                                                        <h3 class="form-label select-label">Status</h3>
                                                      </div>
                                                    </div>
                                                    <div class="mt-4 pt-2">
                                                        <button class="btn btn-grd-warning " type="Submit" style= "height:55px; width:150px;"><h5>Submit</h5></button>
                                                    </div>
                                                  </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->
                    </div>
                </div>
                </div>
            </div>
        </div>

        
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'admin/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'admin/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'admin/js/modernizr/modernizr.js' %}"></script>
<!-- am chart -->
<script src="{% static 'admin/pages/widget/amchart/amcharts.min.js' %}"></script>
<script src="{% static 'admin/pages/widget/amchart/serial.min.js' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'admin/pages/todo/todo.js' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'admin/pages/dashboard/custom-dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/script.js' %}"></script>
<script type="text/javascript " src="{% static 'admin/js/SmoothScroll.js' %}"></script>
<script src="{% static 'admin/js/pcoded.min.js' %}"></script>
<script src="{% static 'admin/js/demo-12.js' %}"></script>
<script src="{% static 'admin/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>
</body>

</html>
