<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
<title>Organ Donation</title>    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Favicon icon -->
      <link rel="icon" href="https://www.sakraworldhospital.com/spl_splimgs/organ%20donation-2020-1.jpg" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap/css/bootstrap.min.css' %}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/icon/themify-icons/themify-icons.css' %}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/icon/icofont/css/icofont.css' %}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/jquery.mCustomScrollbar.css' %}">
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <style>
        form {
  min-width:300px;
  max-width:400px;
  padding:20px;
  margin:0 auto;
  background:#95f1ff59; 
  -webkit-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
  -moz-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
  box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
}

form input {
  border:1px solid rgba(9, 156, 255, 0);
  border-radius:0 !important;
  padding:5px 8px;
  color:#444;
}

form button {
  color:#555;
  background:#12f11aad;
  border:1px solid rgb(226, 223, 49) !important;
  margin-top:20px;
  border-radius:0px Important;
}

form button:hover {
  background:rgb(245, 78, 148) !important;
}

.pull-right {
  float:right;
}
body {
  background: #145864;
  background: -webkit-linear-gradient(to right, #b37524, #70e1f5);  
  background: linear-gradient(to right, #633e0c, #13616e);
}
      </style>
  </head>

  <body style="background-color:#633e0c;">
    <!-- Pre-loader start -->
    
{% if messages %}              
{% for message in messages %}
   {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
             <script>swal({
               title: "Warning!",
               text: "{{message}}",
               icon: "warning",
               button: "OK",
             });
           </script>
        
         {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
             <script>swal({
               title: "Info :)",
               text: "{{message}}",
               icon: "info",
               button: "OK",
             });
   </script>
   {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
   <script>swal({
     title: "Error :)",
     text: "{{message}}",
     icon: "error",
     button: "OK",
   });
   </script>
   {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
   <script>swal({
   title: "Success :)",
   text: "{{message}}",
   icon: "success",
   button: "OK",
   });
   </script>
         {% endif %}              
       {% endfor %} 
   {% endif %}
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="">
                            <h3 style="color: blanchedalmond; margin-right:40px;" ><b><i>ORGAN DONATION</i></b></h3>
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Image.png" class="img-radius" alt="User-Profile-Image">
                                    <span>Admin</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a href="{% url 'main_admin' %}">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40 img-radius" src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Image.png" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>Admin</span>
                                        <span id="more-details"><i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="{% url 'main_home' %}"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pcoded-search">
                                <span class="searchbar-toggle">  </span>
                                <div class="pcoded-search-box ">
                                    <input type="text" placeholder="Search">
                                    <span class="search-icon"><i class="ti-search" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            
                            <ul class="pcoded-item pcoded-left-item mt-5">
                                <li class="active">
                                    <a href="{% url 'admin_dashboard' %}">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">User Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'admin_pendinguser' %}">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Pending User</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="{% url 'admin_alluser' %}">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">All User</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Donors Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'admin_organdonor' %}">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Organ Donor's</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-infinite"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Certificates Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'admin_deathcertificate' %}">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Issue Death Certificates</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu ">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Feedback Management</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="">
                                                <a href="{% url 'admin_feedbackanalysis' %}">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.menu-levels.menu-level-21">Feedback Analysis</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="{% url 'admin_sentimentanalysis' %}">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.menu-levels.menu-level-21">Sentiment Analysis Graph</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    
                                </div>
                                <!-- Page-header end -->
                                
                                <!-- Page-body start -->
                                <div class="page-body">
                                    <!-- Basic table card start -->
                                    
                                    <!-- Basic table card end -->
                                    <!-- Inverse table card start -->
                                    
                                    <!-- Inverse table card end -->
                                    <!-- Hover table card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <center>
                                            <h2 style="color:black;"><b>Organ Donor's</b></h2>
                                            </center>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table">
                                                    <thead>
                                                        <tr>
                                                            <th style="color:black;">Name</th>
                                                            <th style="color:black;">Phone no.</th>
                                                            <th style="color:black;">Self Disease</th>
                                                            <th style="color:black;">Donate Organ</th>
                                                            <th style="color:black;">Status</th>
                                                            <th style="color:black;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for organdonor in organdonor%}
                                                        <tr>
                                                            <td>{{organdonor.Name}}</td>
                                                            <td>{{organdonor.Phone}}</td>
                                                            <td>{{organdonor.Disease}}</td>
                                                            <td>{{organdonor.Donate_Organ}}</td>
                                                            <td>{{organdonor.status}}</td>
                                                            {% if organdonor.status == 'Fit' %}
                                                                <td><a href="{% url 'verify_application' organdonor.organ_id  %}" class="btn btn btn-primary" style="border-radius:20px;" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Blockchain verification</a></td>
                                                            {% else %}
                                                            <td>
                                                                <p class="text-dark">Not Authorised</p>
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <nav area-label="Page navigation example">
                                                    <ul class="pagination ml-2">
                                                        {% if organdonor.has_previous %}
                                                        <li class="'page-item"><a class="page-link bg-info text-white" href="?page={{ organdonor.previous_page_number }}">Previous</a>
                                                        </li>
                                                        {% endif %}
                                                        {% if organdonor.has_next %}
                                                        <li class="'page-item"><a class="page-link bg-info text-white" href="?page={{ organdonor.next_page_number }}">Next</a></li>
                                                        {% endif %}
                                                    </ul>
                                                    Page {{ organdonor.number }} of {{ organdonor.paginator.num_pages }}.
                                                </nav> 
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->

                        
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>

        
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'admin/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'admin/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'admin/js/modernizr/modernizr.js' %}"></script>
<!-- am chart -->
<script src="{% static 'admin/pages/widget/amchart/amcharts.min.js' %}"></script>
<script src="{% static 'admin/pages/widget/amchart/serial.min.js' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'admin/pages/todo/todo.js' %} "></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'admin/pages/dashboard/custom-dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/script.js' %}"></script>
<script type="text/javascript " src="{% static 'admin/js/SmoothScroll.js' %}"></script>
<script src="{% static 'admin/js/pcoded.min.js' %}"></script>
<script src="{% static 'admin/js/demo-12.js' %}"></script>
<script src="{% static 'admin/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>
</body>

</html>
